<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- 添加参与任务调度的bean对应的class -->
	<bean id="myPrintTask" class="com.silence.ssm.quartz.schedule.MyPrintTask"></bean>
	<bean id="taskJob" class="com.silence.ssm.quartz.schedule.TaskJob"></bean>
	
	<!-- 启动触发器的配置开始 -->
	<bean name="startQuertz" lazy-init="false" autowire="no"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
   			    <!-- 打印任務 -->
				<ref bean="myPrintJobTrigger" />
				<!-- 作業任務 -->
				<ref bean="myTaskJobTrigger"/>
			</list>
		</property>
	</bean>
	<!-- 启动触发器的配置结束 -->

	<!-- quartz-2.x的配置 -->
	<bean id="myPrintJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="myPrintJobDetail"></property>
		<property name="cronExpression">
			<!-- 每60秒鐘執行一次 -->
			<value>0/60 * * * * ?</value>
		</property>
	</bean>
	<!-- 调度的配置结束 -->
	<!-- job的配置开始 -->
	<bean id="myPrintJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="myPrintTask"></property>
		<property name="targetMethod" value="execute"></property>
	</bean>
	<!-- job的配置结束 -->


    <!-- quartz-2.x的配置 -->
	<bean id="myTaskJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="myTaskJobDetail"></property>
		<property name="cronExpression">
			<!-- 每50秒鐘執行一次 -->
			<value>0/50 * * * * ?</value>
		</property>
	</bean>
	<!-- 调度的配置结束 -->
	<!-- job的配置开始 -->
	<bean id="myTaskJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="taskJob"></property>
		<property name="targetMethod" value="run"></property>
	</bean>
	<!-- job的配置结束 -->
	
</beans>
